<div class="jumbotrom text-center">
    <h1 class="display-3">
        {{title}}
    </h1>
    <p class="lead">
        put new words for find in gz
    </p>
    <a href="/links/add" class="btn btn-dark btn-lg">Add</a>

</div>